.dashboard {
  width: 100%;
  min-height: 100vh;
  display: flex;

  .side__navigation {
    width: 18%;
    background: #FFFFFF;
    box-shadow: 4px 0px 10px rgba(17, 20, 48, 0.07);
  }

  .dashboard-right {
    width: 82%;
    background:  #F7F8FC;
    padding: 30px;
  }
  &__heading{
    font-weight: bold;
  }
  &__name{
    font-weight: bold;
    display: flex;
    align-items: center;
    img{
      border-radius: 50%;
      width: 45px;
      height: 45px;
      padding: 2px;
      border: 2px solid #DFE0EB;
      margin-left: 14px;
    }
  }
}
.dashboardmain{
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 46px;
  }
  
  &__apartment{
    display: flex;
    padding: 10px 0px;
    background-color: #fff;
    margin-bottom: 18px;
    &--saved,&--booked{
      margin-right: 31px;
      padding: 16px;
      border: 1px solid #DDE2FF;
      box-shadow: 0px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
        h4{
          font-size: 19px;
          color: #00349A;
        }
        span{
          font-size: 40px;
        }
    }
  }
  &__sections{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 44px 30px;
    padding: 25px 0px;
    background-color: #fff;
  }
  &__booking{
    border: 1px solid #DFE0EB;
    background-color: #fff;
    border-radius: 4px;
    &--heading{
      color: #00349A;
      font-size: 19px;
      margin-bottom: 24px;
      font-weight: bold;
    }
    &--tags{
      display: flex;
      align-items: flex-start;
    }
    &--checkin{
      background: #F0F5FB;
      border-radius: 8px;
      margin-right: 32px;
      padding: 7px 0px 50px 9px;
      min-width: 168px;
      &.orange{
        background-color: #FEF1E7;
      }
    }
    &--checkout{
      background: #FEF1E7;
      border-radius: 8px;
      padding: 7px 48px 10px 9px;

      &.green{
        background-color: #E5F9E8;
      }

     
    }
    &--text{
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      span{
        margin-left: 7px;
      }
    }
    &--date{
      font-size: 16px;
      color: #828282;
    }
  }
  &__bookingtop{
    padding: 24px 16px;
    z-index: 10;
    position: relative;
    height: 176px;
  }
  &__bookingbottom{
    padding: 24px 16px;
    border-top: 0.5px solid #828282;
  }
  &__bookingbottom.topp{
    transform: translateY(-30px);
    z-index: -1;
  }
  &__list{

  }
  &__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
  }
  &__item--name{
    color: #5C8DF0;
  }
  &__counter{
    margin-bottom: 30px;
  }
  &__counter--count{
    width: 100;
    height: 10px;
    border-radius: 10px;
    background: #DDE2FF;
    margin-bottom: 11px;
    position: relative;

    &::after{
      position: absolute;
      left:0px;
      content: "";
      width: 100px;
      background: #00349A;
      height: 10px;
      border-radius: 10px;
    }
  }

  &__counter--details{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__counter--used{
    font-size: 16px;
    color: #A4A6B3;
  }
  &__counter--available{
    font-size: 16px;
    color: #21A58F;
  }
}
.sidebar{}
.sidebaricon{
  padding: 24px;
  text-align: center;
}
.sidebarlist{
}
.sidebaritem{
  padding: 17px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
.sidebaritem:hover{
  background: #00349A;
  color: #fff;
}
.sidebaritem.active{
  background: #00349A;
  color: #fff;
}
.sidebaritem.active svg path{
  stroke: #fff
}
.sidebaritem span{
  font-size: 16px;
color: #A4A6B3;
margin-left: 20px;
}
.dashboardmain__booking--color{
  background-color: #E8F0FF;
}
.dashboardmain__booking--checkin--color{
  background-color: #fff;
}
.dashboardmain__bookingbottom--grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0px;
  height: calc(100% - 176px);
}
.circlebar{
  background-color: transparent;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 10px solid #fff;
  position: relative;
}
.circlebar::after{
  content: "";
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 10px solid #fff;
  background-color: transparent;
}
.dashboardblue{
  display: flex;
  border-right: 1px solid #828282;
  padding: 62px 16px;
  &__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-between;
  }
  &__used{
    font-size: 16px;
    color: #A4A6B3;
    text-align: right;
  }
  &__available{
    font-size: 16px;
    color: #21A58F;
    text-align: right;
  }
  &__list{
    padding: 24px 16px;
  }
}