$main-bgc: rgb(229, 229, 229);
$main-blue: rgb(0, 52, 154);

$header-overlay: rgba(75, 109, 178, 0.4);
$blue-overlay: rgba(0, 52, 154, 0.53);
$white-overlay: rgba(254, 241, 231, 0.2);

$lightblue: rgb(92, 141, 240);
$darkblue1: rgb(14, 23, 53);
$darkblue2: rgb(27, 28, 87);
$darkblue3: rgb(60, 69, 99);

$lightgreen1: rgb(33, 165, 143);
$lightgreen2: rgba(33, 165, 143, 0.4);

$grey1: rgb(51, 51, 51);
$grey2: rgb(130, 130, 130);
$grey3: rgb(136, 139, 151);
$grey4: rgb(242, 242, 242);
$white: rgb(255, 255, 255);

$explore-grey1: rgb(224, 224, 224);
$explore-green: rgb(183, 251, 72);
$explore-orange: rgb(255, 172, 51);
$explore-grey2: rgb(212, 233, 254);

$section-margin: 50px 0;
$section-padding: 20px 70px;
