@import "variables";

// featured houses card
@import "featuredHousesCard";

// featured houses navbar
@import "featuredHousesNavbar";

.feat-houses-section {
  margin: $section-margin;
  padding: $section-padding;
  width: 100%;
  background-color: $white;
}

@media screen and (max-width: 780px) {
  $section-padding: 20px 50px;

  .feat-houses-section {
    padding: $section-padding;
  }
}

@media screen and (max-width: 500px) {
  $section-padding: 20px 30px;

  .feat-houses-section {
    padding: $section-padding;
  }
}
