@import "variables";

.cta2-section {
  margin: $section-margin;
  padding: $section-padding;
  width: 100%;
  background-color: $lightgreen2;
  color: $white;

  .cta2-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightgreen2;
    padding: 20px 0;
  }

  .cta2-body {
    width: 50%;
    padding-left: calc(50% - 350px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h1 {
      margin: 10px;
      font-family: "Gordita Bold", sans-serif;
    }

    p {
      margin: 10px;
      font-size: 0.8em;
      text-align: left;
    }
  }

  .cta2-image {
    width: 50%;
    display: flex;
    justify-content: flex-start;

    img {
      height: 280px;
      width: 280px;
      object-fit: cover;
    }
  }

  .signUp-btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .host-signUp-btn {
    border: 1px solid $main-blue;
    color: $blue-overlay;
    padding: 10px;
    border-radius: 2px;
  }

  button {
    width: 120px;
    margin: 10px;
  }
}

@media screen and (max-width: 780px) {
  .cta2-section {
    .cta2-body {
      padding: 20px;
      padding-left: 0;
    }

    .signUp-btns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 600px) {
  .cta2-section {
    .cta2-wrapper {
      flex-direction: column;
    }
    .cta2-image {
      width: 100%;
    }
    .cta2-body {
      width: 300px;
      align-items: center;
      padding: 10px;

      h1,
      p {
        align-self: flex-start;
      }
    }
    .cta2-image {
      align-items: center;
      justify-content: center;
      img {
        width: 250px;
        height: 250px;
      }
    }

    .signUp-btns {
      flex-direction: row;
    }
  }
}

@media screen and (max-width: 500px) {
  .cta2-section {
    button {
      margin: 10px;
    }
  }
}

@media screen and (max-width: 780px) {
  $section-padding: 20px 50px;

  .cta2-section {
    padding: $section-padding;
  }
}

@media screen and (max-width: 500px) {
  $section-padding: 20px 30px;

  .cta2-section {
    padding: $section-padding;
  }
}
